/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

.task-completed {
  text-decoration: line-through;
  color: #777;
}

.add-task-form {
  margin-bottom: 20px;
}

.edit-task-form {
  margin-bottom: 10px;
}

.login-form,
.register-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h1,
.register-form h1 {
  text-align: center;
}

.login-form input,
.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-form button,
.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover,
.register-form button:hover {
  background-color: #0056b3;
}
